
.chat-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  transition: all 0.3s ease;
  position: fixed;
  bottom: 15px;
  right: 0;
  z-index: 99999;
  opacity: 0.9;
}

.chat-button:hover {
  transform: scale(1.1);
  opacity: 1;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #dd7d9b;
  color: white;
}

.chat-header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.close-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-content {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  height: calc(100% - 50px); /* 减去header的高度 */
} 